.uploadForm{
    box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
    font-family: Helvetica, sans-serif;
    background: -webkit-linear-gradient(left, aqua , aquamarine);
    color: black;
}
input[type=submit]{
    border : none;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    background-color:  #00B8D4;
    margin: 10px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: red;

}
h1,h3{
    color: white;
}
h1.Brand{
    float: right;
}
span{
    font-size: 22px;
    color: #26A69A;
}